html, body {
    font-family: "Titillium Web", sans-serif; /* Titillium Web istedenfor for CP Company fra skissen */
    font-weight: 200;
}

#map-wrapper {
    width: 100%;
    height: 600px;
    position: relative;
    border: 1px solid black;
}

#map {
    width: 100%;
    height: 100%;
    background-color: green;
}

#button-wrapper {
    position: absolute;
    top: 10px;
    left:90%;
    width: 100%;
}
#debug-links {
     position: absolute;
     top: 200px;
     left:20px;
     display: block;
    background-color:white;
 }
#button-small-box {
    width: 100px;
    position: absolute;
    top: 10px;
    left:10px;
    background-color:white;
}